body {
      margin: 0;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: #0787ffa9;
      color: #ffffff;
    }

nav {
      background-color: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(10px);
      display: flex;
      justify-content: center;
      padding: 12px 0;
    }

nav a {
      color: white;
      text-decoration: none;
      margin: 0 20px;
      font-weight: 700;
      transition: 0.5s;
    }

nav a:hover {
      
      transform: scale(1.2)
    }

.profile {
      text-align: center;
      margin-top: 40px;
    }

.profile img {
      width: 130px;
      height: 130px;
      border-radius: 50%;
      border: 4px solid white;
      object-fit: cover;
      transition: 0.5s;
    }

.profile img:hover {
        transform: scale(1.3)
    }

.profile h1 {
      margin: 15px 0 5px 0;
      font-size: 28px;
      color: #fff;
    }

.profile p {
      font-size: 16px;
      color: #f0f0f0;
    }

.overview {
      max-width: 600px;
      margin: 40px auto;
      background-color: #fff;
      border-radius: 12px;
      padding: 25px 30px;
      box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    }

.overview h2 {
      text-align: center;
      color: #333;
      margin-bottom: 10px;
    }

.overview p {
      text-align: center;
      color: #555;
    }

table {
      width: 100%;
      border-collapse: collapse;
      background-color: rgba(255,255,255,0.8);
      border-radius: 10px;
      overflow: hidden;
    }

th, td {
      border: 1px solid #aaa;
      padding: 10px;
      color: #000000;
    }

th {
      background-color: #072cffa9;
      color: rgb(255, 255, 255);
   }
   
footer {
      text-align: center;
      padding: 1px;
      background-color: rgba(255,255,255,0.2);
      color: #fff;
      backdrop-filter: blur(8px);
    }